[submodule ".registry"]
	path = .registry
	url = https://github.com/cct-datascience/cct-datascience.r-universe.dev
	branch = HEAD
[submodule "arcgisbinding"]
	path = arcgisbinding
	url = https://github.com/R-ArcGIS/r-bridge
[submodule "azmetr"]
	path = azmetr
	url = https://github.com/uace-azmet/azmetr
[submodule "datadrivencv"]
	path = datadrivencv
	url = https://github.com/nstrayer/datadrivencv
[submodule "icons"]
	path = icons
	url = https://github.com/ropenscilabs/icon
	registered = false
[submodule "volcalc"]
	path = volcalc
	url = https://github.com/Meredith-Lab/volcalc
[submodule "zentracloud"]
	path = zentracloud
	url = https://gitlab.com/meter-group-inc/pubpackages/zentracloud
