[submodule ".registry"]
	path = .registry
	url = https://github.com/cct-datascience/cct-datascience.r-universe.dev
	branch = HEAD
[submodule "azmetr"]
	path = azmetr
	url = https://github.com/uace-azmet/azmetr
[submodule "volcalc"]
	path = volcalc
	url = https://github.com/Meredith-Lab/volcalc
[submodule "RDCOMClient"]
	path = RDCOMClient
	url = https://github.com/omegahat/RDCOMClient
